* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
catalog-twins.pdf filter=lfs diff=lfs merge=lfs -text
public/assets/catalog-twins.pdf filter=lfs diff=lfs merge=lfs -text
