@tailwind base;
@tailwind components;
@tailwind utilities;


#page-slot {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


::-webkit-scrollbar {
    display: none;
}

#swiperContainer {
    display: none;
}

input[type="radio"]  {
    display: none;
 }

 #mobile-menu {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
}

#mobile-menu.opacity-100 {
    opacity: 1;
    transform: translateY(0);
}

#mobile-menu.opacity-0 {
    opacity: 0;
    transform: translateY(-10px); 
}